<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.Hello"
        tools:targetApi="31">

        <activity
            android:name=".tech.TechListActivity"
            android:exported="false" />

        <activity
            android:name=".tech.AddTechActivity"
            android:exported="false" />
        <activity
            android:name=".auth.SignInActivity"
            android:exported="false" />
        <activity
            android:name=".auth.SignUpActivity"
            android:exported="true" />
        <activity
            android:name=".recyclerView.RecyclerDescriptionActivity"
            android:exported="false" />
        <activity
            android:name=".recyclerView.RecyclerViewActivity"
            android:exported="false" />
        <activity
            android:name=".expandableListView.ExpandableListActivity"
            android:exported="false" />
        <activity
            android:name=".activities.LabTestActivity"
            android:exported="false" />
        <activity
            android:name=".E.E"
            android:exported="false" />
        <activity
            android:name=".A.A"
            android:exported="false" />
        <activity
            android:name=".B.B"
            android:exported="false" />
        <activity
            android:name=".C.C"
            android:exported="false" />
        <activity
            android:name=".listView.ListViewActivity"
            android:exported="false" />
        <activity
            android:name=".D.D"
            android:exported="true" />
        <activity
            android:name=".activities.HelloActivity"
            android:exported="false" />
        <activity
            android:name=".activities.WebViewActivity"
            android:exported="false" />
        <activity
            android:name=".activities.FormActivity"
            android:exported="false" />
        <activity
            android:name=".activities.CalculatorActivity"
            android:exported="false" />
        <activity
            android:name=".activities.StatusBar"
            android:exported="false" />
        <activity
            android:name=".activities.OrderActivity"
            android:exported="false" />
        <activity
            android:name=".activities.ButtonActivity"
            android:exported="true" />
        <activity
            android:name=".activities.BirthdayCardActivity"
            android:exported="true" />
        <activity
            android:name=".activities.SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <meta-data
            android:name="CLOUDINARY_URL"
            android:value="cloudinary://@myCloudName"/>
    </application>


</manifest>